[Unit]
Description=Motion Sensor Box Wifi Service
After=msb-broker.service
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-wifi
Type=simple
Restart=always
RestartSec=1
User=msb
Environment="MSB_CONFIG_DIR=/home/msb/.config"
ExecStart=/usr/bin/python3 /home/msb/motion-sensor-box/run/msb_wifi.py

[Install]
WantedBy=multi-user.target
