[Unit]
Description=Motion Sensor Box Inertial Measurement Unit Service
After=network.target
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-imu
Type=simple
Restart=always
RestartSec=1
Environment="MSB_CONFIG_DIR=/home/pi/.config"
User=pi
ExecStart=/usr/bin/python3 /home/pi/motion-sensor-box/src/msb_imu/msb_imu.py

[Install]
WantedBy=multi-user.target
