[Unit]
Description=Motion Sensor Box Sensor Camera Service
After=msb-broker.service
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-camera
Type=simple
Restart=always
RestartSec=1
Environment="MSB_CONFIG_DIR=/home/msb/.config"
User=msb
ExecStart=/usr/bin/python3 /home/msb/motion-sensor-box/run/msb_camera.py

[Install]
WantedBy=multi-user.target
