[Unit]
Description=Motion Sensor Box MQTT Service
After=msb-broker.service
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-mqtt
Type=simple
Restart=always
RestartSec=1
Environment="MSB_CONFIG_DIR=/home/pi/.config"
User=pi
ExecStart=/usr/bin/python3 /home/pi/motion-sensor-box/src/msb_mqtt/msb_mqtt.py

[Install]
WantedBy=multi-user.target
