[Unit]
Description=Motion Sensor Box Attitude Estimation Service
After=msb-imu.service
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-attitude
Type=simple
Restart=always
RestartSec=1
Environment="MSB_CONFIG_DIR=/home/pi/.config"
User=pi
ExecStart=/usr/bin/python3 /home/pi/motion-sensor-box/src/msb_attitude/msb_attitude.py

[Install]
WantedBy=multi-user.target
