[Unit]
Description=Motion Sensor Box ZeroMQ Message Broker Service
After=network.target
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-broker
Type=simple
Restart=always
RestartSec=1
Environment="MSB_CONFIG_DIR=/home/pi/.config"
User=pi
ExecStart=/usr/bin/python3 /home/pi/motion-sensor-box/src/msb_broker/msb_broker.py

[Install]
WantedBy=multi-user.target
