[submodule "lib/gpsd"]
	path = lib/gpsd
	url = https://gitlab.com/gpsd/gpsd.git
[submodule "lib/strompi3"]
	path = lib/strompi3
	url = https://github.com/joy-it/strompi3.git

[submodule "lib/ahrs"]
	path = lib/ahrs
	url = https://github.com/Mayitzin/ahrs.git
