ahrs==0.3.1
azure_storage==0.37.0
gps==3.19
Mock==4.0.3
numpy==1.20.1
numpy_quaternion==2021.11.4.15.26.3
paho_mqtt==1.6.1
pyserial==3.5
pytz==2022.1
pyzmq==22.3.0
quaternion==3.5.2.post4
scipy==1.7.1
smbus==1.1.post2
uptime==3.0.1
