[Unit]
Description=Motion Sensor Box ZeroMQ Message Broker Service
After=network.target
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-broker
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python3 /home/pi/motion-sensor-box/src/broker/src/msb_broker.py --logfile ''

[Install]
WantedBy=multi-user.target
