[Unit]
Description=Motion Sensor Box Attitude Estimation Service
After=network.target
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-attitude
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python3 /home/pi/motion-sensor-box/src/attitude/src/msb_attitude.py

[Install]
WantedBy=multi-user.target
